<!DOCTYPE html>
<html>
<head>
    <title>라오스 의료활동</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
<header>
</header>
<main>
  <div class="patient_list">
    <button>환자목록</button>
    <ul>
      {{#each patient_list}}
      <li id="p{{pid}}"><a href="/modify/patient/{{pid}}">
        <span>{{pname}}</span><span>{{birth}}</span><span>{{address}}</span>
      </a></li>
      {{else}}
      {{/each}}
    </ul>
  </div>
  <div class="main_container">
  {{{body}}}
  </div>
</main>
<footer>All copyrights reserved by Paul Kim &copy; 2016 </footer>
</body>
</html>
