<div class="patient_info" data-pid={{patient.pid}}>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>name</td>
        <td>{{patient.pname}}</td>
      </tr>
      <tr>
        <td>age</td>
        <td>{{patient.age}}{{patient.sex}}</td>
      </tr>
      <tr>
        <td>BP</td>
        <td>{{patient.systolicBP}}/{{patient.diastolicBP}}</td>
      </tr>
      <tr>
        <td>fever</td>
        <td>{{patient.temperature}}</td>
      </tr>
      <tr>
        <td>pulse</td>
        <td>{{patient.pulse}}</td>
      </tr>
      <tr>
        <td>bst</td>
        <td>{{patient.bst}}</td>
      </tr>
      <tr>
        <td>spo2</td>
        <td>{{patient.spo2}}</td>
      </tr>
      <tr>
        <td>height</td>
        <td>{{patient.height}}</td>
      </tr>
      <tr>
        <td>weight</td>
        <td>{{patient.weight}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="chart_container">
  <button id="new_chart_button" data-pid="{{patient.pid}}"
  class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored new_chart_button">
    +
  </button>
  <ul class="chart_list">
    <!-- <li data-cid="cid"></li> -->
    <!-- button
    근골격계
    린락사  250mg 1T * 3 * 7days
    AAP     300mg 1T * 3 * 7days

    린락사 250mg 1T * 3 * 7days
    폰탈 500mg 1T * 2 * 7days
    파모티딘 29mg 1T * 3 * 7days

    감기
    액티피드 시럽
    

  -->
  </ul>
</div><!-- chart container-->
